//colors

$pink-lemonade: #ead5e1;
$mint-green: #aee0c5;
$baby-blue: #cbeaeb;
$seville-orange: #ffb100;
$deep-turquoise: #6799a3;
$wine-red: #7b1842;
$forest-green: #1f5846;
$olive-green: #888551;
$bright-pink: #c66c98;
$sky-blue: #93c4ef;
$font: 1rem;
//media phone
$phone-breakpoint: 500px;
